<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" type="text/css">
    <title>List of all assignments</title>
    <style>
        table, th, tr td {
            border: 1px solid black;
        }

        tr:nth-child(even) {
            background: #CCC
        }

        tr:nth-child(odd) {
            background: #FFF
        }
    </style>
</head>
<body>
<form action="#" th:action="@{add_assignment}" th:object="${assignmentDTO}" method="post">
    <p> Description
        <input type="text" th:field="*{description}"/>
    </p>
    <p>
        <label for="professorName">Select professor:</label>
        <select th:field="*{professorName}" id="professorName">
            <option th:each="professor: ${professors}"
                    th:value="${professor.name}"
                    th:text="${professor.name}">
            </option>
        </select>
    </p>
    <p>
        <label for="studentName">Select student:</label>
        <select th:field="*{studentName}" id="studentName">
            <option th:each="student: ${students}"
                    th:value="${student.name}"
                    th:text="${student.name}">
            </option>
        </select>
    </p>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
</form>
</body>
</html>