<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <title>Add assignment</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div class="col-sm-6">
        <h2>Add assignment</h2>
    </div>
    <form action="#" th:action="@{add_assignment}" th:object="${assignmentDTO}" method="post" class="form-group">
        <p> Description:
            <input type="text" th:field="*{description}" placeholder="please enter assignment title..." class="form-control"/>
        </p>
        <p>
            <label for="professorName" class="col-sm-2 col-form-label">Select professor:</label>
            <select th:field="*{professorName}" id="professorName" class="form-control">
                <option th:each="professor: ${professors}"
                        th:value="${professor.name}"
                        th:text="${professor.name}">
                </option>
            </select>
        </p>
        <p>
            <label for="studentName" class="col-sm-2 col-form-label">Select student:</label>
            <select th:field="*{studentName}" id="studentName" class="form-control">
                <option th:each="student: ${students}"
                        th:value="${student.name}"
                        th:text="${student.name}">
                </option>
            </select>
        </p>
        <input type="submit" value="Submit" class="btn btn-lg btn-success"/>
        <input type="reset" value="Reset" class="btn btn-lg btn-danger"/>
    </form>
</div>
</body>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</html>