<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>List of all assignments</title>
</head>
<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage Assignments</h2>
                </div>
                <div class="col-sm-6">
                    <a href="/add_assignment" class="btn btn-success">
                        <span>Add Assignment</span></a>
                </div>
            </div>
        </div>
        <table class="table table-hover table-responsive-md">
            <thead>
            <tr>
                <th scope="col"> #</th>
                <th scope="col"> Description</th>
                <th scope="col"> Professor</th>
                <th scope="col"> Student</th>
                <th scope="col"> Add comment</th>
                <th scope="col"> Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assignmentDTO: ${assignmentDTOList}">
                <td th:text="${assignmentDTO.id}">description</td>
                <td th:text="${assignmentDTO.description}">description</td>
                <td th:text="${assignmentDTO.professorName}">Professor</td>
                <td th:text="${assignmentDTO.studentName}">Student</td>
                <td>
                    <a th:href="@{'assignment/' + ${assignmentDTO.id}}">
                        <input type="text" class="btn btn-sm btn-primary" value="add comment"/>
                    </a>
                </td>
                <td>
                    <a th:href="@{'assignment/' + ${assignmentDTO.id}}">
                        <input type="text" class="btn btn-sm btn-danger" value="delete"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>